html, body
{
    height: 100% !important;
}

.h-100p
{
    height: 100% !important;
}

.h-90p
{
    height: 91%;
}

.h-in
{
    height: inherit;
}

.w-100p
{
    width: 100%;
}

.w-80p
{
    width: 80%;
}

.w-70p
{
    width: 70%;
}

.w-20p
{
    width: 20%;
}

ul
{
    list-style-type: none;
    padding-left: 0;
}

h4
{
    color: #fff;
}

.bg-black
{
    background-color: #000;
}

.z-1
{
    z-index: 1 !important;
}

.z-11
{
    z-index: 11 !important;
}

.cor-verde
{
    background-color: rgb(63, 189, 46) !important;
    color: #FFF;
}

.cor-roxo
{
    background-color: rgb(128, 32, 218) !important;
    color: #FFF;
}

.cor-cinza
{
    background-color: rgb(182, 182, 182);
    color: #000;
}

.cursor-pointer
{
    cursor: pointer;
}

.cursor-default
{
    cursor: default;
}

.max-w-1140
{
    max-width: 1140px !important;
}